.modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0 , 0, 0, 0.7);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadreModal{
    background-color: white;
    padding: 20px;
    border-radius: 10px;

}

.titreModal{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.titreModal p:nth-child(1){
    font-size: 25px;
    font-weight: bold;
}

.titreModal p:nth-child(2){
    cursor: pointer;
}



